<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.nothing.ketchum.permission.ENABLE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:label="Glyph Metronome"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <meta-data
            android:name="NothingKey"
            android:value="test" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MetronomeToyService"
            android:exported="true">

            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name" />

            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/metronome_preview" />

            <meta-data
                android:name="com.nothing.glyph.toy.longpress"
                android:value="1" />

        </service>

    </application>
</manifest>